# USER CONFIGURATION
[default]
# number of episodes
n_max_episodes = 10000000
convergence_threshold = 25000
# initialization (random, optimistic, pessimistic)
q_init = "random"
# learning rates
alpha_s = 0.1
alpha_r = 0.1
# exploration decay
lambda_s = 0.000005
lambda_r = 0.000005
temp0_s = 0.1
temp0_r = 0.1

# BASE-CASE CONFIGURATION
[basecase]
# number of episodes
n_max_episodes = 10000000
convergence_threshold = 25000
# initialization (random, optimistic, pessimistic)
q_init = "random"
# learning rates
alpha_s = 0.10
alpha_r = 0.10
# exploration decay
lambda_s = 0.000005
lambda_r = 0.000005
temp0_s = 0.1
temp0_r = 0.1


# BASECASE W/ LESS EXPLORATION
[less_exploration]
# number of episodes
n_max_episodes = 10000000
convergence_threshold = 25000
# initialization (random, optimistic, pessimistic)
q_init = "random"
# learning rates
alpha_s = 0.10
alpha_r = 0.10
# exploration decay
lambda_s = 0.00001
lambda_r = 0.00001
temp0_s = 0.1
temp0_r = 0.1


# BASECASE W/ MORE EXPLORATION
[more_exploration]
# number of episodes
n_max_episodes = 10000000
convergence_threshold = 25000
# initialization (random, optimistic, pessimistic)
q_init = "random"
# learning rates
alpha_s = 0.10
alpha_r = 0.10
# exploration decay
lambda_s = 0.000002
lambda_r = 0.000002
temp0_s = 0.1
temp0_r = 0.1


# GRID SEARCH CONFIGURATION
[gridsearch]
# number of episodes
n_max_episodes = 10000000
convergence_threshold = 25000
# initialization (random, optimistic, pessimistic)
q_init = "random"
# learning rates
alpha_s = 0.05
alpha_r = 0.05
# exploration decay
lambda_s = 0.000005
lambda_r = 0.000005
temp0_s = 0.1
temp0_r = 0.1

